# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env

# Ignore Python virtual environment
venv/
env/
ENV/
.venv/
.VENV/

# Ignore IDE files (e.g., PyCharm, VSCode)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project